@using System.Globalization
@model Etiqueta.ViewModel.EtiquetaFuncionario
@{
    var maxWidth = (ViewBag.Width - 4).ToString(new CultureInfo("en-us"));
}

<div style="font-size: 9.5px;padding: 2mm;">
    <div class="txt-ellipse" style="max-width: @(maxWidth + "mm");display: flex; justify-content: space-between"><span>@Model.cnpj_cpf</span> <span>@ViewBag.Periodo</span></div>
    <div class="txt-ellipse" style="max-width: @(maxWidth + "mm");display: flex; justify-content: space-between"><span>@Model.razao_social_nome</span></div>
    <div class="txt-ellipse" style="max-width: @(maxWidth + "mm");display: flex; justify-content: space-between"><span><b>Func: @Model.codigo - <span style="font-size: 12px;">@Model.nome</span></b></span></div>
    @*<div class="txt-ellipse" style="max-width: @(maxWidth + "mm");display: flex; justify-content: space-between"><span>CTPS: @Model.CTPS</span><span>PIS: @Model.PIS</span></div>*@
    <div class="txt-ellipse" style="max-width: @(maxWidth + "mm");display: flex; justify-content: space-between"><span>Função: @Model.funcao_codigo - @Model.funcao_nome</span></div>
    <div class="txt-ellipse" style="max-width: @(maxWidth + "mm");display: flex; justify-content: space-between"><span>CTPS: @Model.ctps</span> @*<span>REG: @Model.Reg</span><span>CHAPA: @Model.Chapa</span>*@</div>
    <div class="txt-ellipse" style="max-width: @(maxWidth + "mm");display: flex; justify-content: space-between; font-size: 9px;"><p><b>@Html.Raw(Model.horario)</b></p></div>
</div>