@using System.Globalization
@using Etiqueta.ViewModel 
@model Etiqueta.ViewModel.Config

@{
    Layout = null;
    ViewBag.Width = Model.Tag.Width;
}

<!DOCTYPE html>

<html>
<head>
    <title>Etiqueta</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .txt-ellipse {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        
        @@page{
            size: @(Model.Width.ToString(new CultureInfo("en-us")) + "mm") @(Model.Height.ToString(new CultureInfo("en-us")) + "mm");
            margin-top: @(Model.MarginTop.ToString(new CultureInfo("en-us")) + "mm");
            margin-left: @(Model.MarginLeft.ToString(new CultureInfo("en-us")) + "mm");
            margin-right: @(Model.MarginRight.ToString(new CultureInfo("en-us")) + "mm");
            margin-bottom: @(Model.MarginBottom.ToString(new CultureInfo("en-us")) + "mm");            
        }          
    </style>
</head>
<body>
    <div style="min-height: @(Model.Tag.Height.ToString(new CultureInfo("en-us")) + "mm"); max-height: @(Model.Tag.Height.ToString(new CultureInfo("en-us")) + "mm"); 
        display: grid; grid-template-columns: repeat(@Model.Columns, @(Model.Tag.Width.ToString(new CultureInfo("en-us")) + "mm")); column-gap: @(Model.Tag.MarginLeft.ToString(new CultureInfo("en-us")) + "mm");">
       @foreach (var tag in Model.ListModel)
       {
           <div style="height: @(Model.Tag.Height.ToString(new CultureInfo("en-us")) + "mm");display: flex;align-items: center;">
               @await Html.PartialAsync(Model.PartialName, tag)
           </div>
       }
    </div>
</body>
</html>